Ignora la configurazione Git 
​.git
.gitignore
​Ignora i file di Docker stesso
​Dockerfile
.dockerignore
​File di configurazione e documentazione
​README.md
.env
.env.*
​Ignora le dipendenze locali 
​node_modules
​Log e file di sistema
​npm-debug.log*
*.log
.DS_Store
